<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">    
	<link rel="stylesheet" type="text/css" href="/xls/xls.api.css">
    <title>/xls/api</title>
  </head>
  <body>
    <h3>/xls/api</h3>
    <b>Verb</b><br>
    GET<br>
    <br>
    <b>Table</b><br>
	<div id="table"></div>


    <br><br>
    <b>JSON</b><br>
	<textarea id ="json" cols="80" rows="25"></textarea>

	<script type="module">

		import { apiDemo } from '/xls/xls.api.js';
		
		// Use the imported function
		apiDemo();
	</script>
	

  </body>
</html>