<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">    
    <title>Hello World</title>
  </head>
  <body>
    <h3>Hello World</h3>
    
    <b>Tests</b><br>
    <a href="./kill">Kill Server</a><br>
    <a href="./mime.mime">Test for unknown MIME</a><br>
    <a href="./notfound">Test for 404</a><br>
    <a href="./favicon/apple-touch-icon.png">Test for image</a><br>
    <br>
    <b>Sources</b><br>
    <a href="https://github.com/konijn/PowerShellWebServers">This code</a><br>
    <a href="https://github.com/ChristopherGLewis/PowerShellWebServers">The original code</a><br>
    <a href="https://gist.github.com/rminderhoud/c603a0a30587ae5c957b211ba386bf37">The async code</a><br>
  </body>
</html>
